.whole-container {
  display: flex;
  width: 100%;
}
.wrapper {
  width: 450px;
  height: 44vh;
  position: fixed;
  padding: 30px;
  background-color: #f7f7f8;
  margin: 142px 105px;
  border-radius: 17px;
  border: 2px dashed rgba(114, 186, 94, 0.35);
}
.wrapper h3 {
  text-align: center;
}
.wrapper .input-data {
  height: 40px;
  width: 87%;
  position: relative;
  margin: 27px;
}
.wrapper .input-data input {
  height: 43%;
  width: 100%;
  border: none;
  border-bottom: 2px solid silver;
  font-size: 17px;
  margin-top: 16px;
  outline: none;
  background-color: #f7f7f8;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label {
  transform: translateY(-20px);
  font-size: 15px;
}
.wrapper .input-data label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}
.addtodo {
  background-color: #c6bcbc;
  display: inline-block;
  padding: 8px 15px;
  border: none;
  border-radius: 11px;
  text-decoration: none;
  font-size: 1rem;
  margin-bottom: 3px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  margin: 0 23px;
  z-index: 1;
}

.note-item-container {
  width: 100%;
}
