.column {
  float: left;
  width: 40%;
  padding: 0 10px;
  justify-content: space-between;
  display: flex;
}
.notes-container {
  height: 100vh;
  width: 50vw;
}
/* Remove extra left and right margins, due to padding */

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.row-item {
  margin-left: 44rem;
}
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  margin-top: 33px;
  height: 256px;
  /* margin: 0 12px; */
  width: 46rem;
}
